# List and its functions

In [4]:
lst = [1, 2, 'Geeks', 4, 'For', 6, 'Geeks'] 
lst.append("apple")

In [5]:
lst

[1, 2, 'Geeks', 4, 'For', 6, 'Geeks', 'apple']

In [12]:
lst[3]

4

In [13]:
lst.index(6)

5

In [15]:
lst[-3]

6

In [18]:
lst.extend(["hello","apple","orange"])

In [20]:
lst

[1,
 2,
 'Geeks',
 4,
 'For',
 6,
 'Geeks',
 'apple',
 'hello',
 'hello',
 'apple',
 'orange']

In [21]:
lst.pop()

'orange'

In [22]:
lst

[1, 2, 'Geeks', 4, 'For', 6, 'Geeks', 'apple', 'hello', 'hello', 'apple']

In [23]:
lst.insert(2,"darshan")

In [24]:
lst

[1,
 2,
 'darshan',
 'Geeks',
 4,
 'For',
 6,
 'Geeks',
 'apple',
 'hello',
 'hello',
 'apple']

In [26]:
lst.reverse()

In [27]:
lst

['apple',
 'hello',
 'hello',
 'apple',
 'Geeks',
 6,
 'For',
 4,
 'Geeks',
 'darshan',
 2,
 1]

In [28]:
lst.remove("hello")

In [29]:
lst

['apple', 'hello', 'apple', 'Geeks', 6, 'For', 4, 'Geeks', 'darshan', 2, 1]

# Dictionary and its default functions

In [30]:
dic = {1: 'apple', 2: 'ball','address': 'Downtown', 'age': 27}
dic

{1: 'apple', 2: 'ball', 'address': 'Downtown', 'age': 27}

In [31]:
dic.keys()

dict_keys([1, 2, 'address', 'age'])

In [32]:
dic.get(2)

'ball'

In [33]:
dic.items()

dict_items([(1, 'apple'), (2, 'ball'), ('address', 'Downtown'), ('age', 27)])

In [35]:
dic.update({3:"hulk"})

In [36]:
dic

{1: 'apple', 2: 'ball', 'address': 'Downtown', 'age': 27, 3: 'hulk'}

In [38]:
dic.pop("age")

27

In [39]:
dic.values()

dict_values(['apple', 'ball', 'Downtown', 'hulk'])

# Set and its default functions

In [40]:
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1.0, (1, 2, 3), 'Hello'}

In [41]:
my_set.add("darshan")

In [42]:
my_set

{(1, 2, 3), 1.0, 'Hello', 'darshan'}

In [43]:
ds = {1.0,"hello"}

In [44]:
x = ds.issubset(my_set)

In [45]:
x

False

In [46]:
my_set.pop()

1.0

In [47]:
my_set

{(1, 2, 3), 'Hello', 'darshan'}

In [49]:
v = {1, 2, 3, 4}

In [50]:
my_set.update(v)

In [51]:
my_set

{(1, 2, 3), 1, 2, 3, 4, 'Hello', 'darshan'}

# Tuple and its functions

In [52]:
tup = ("mouse", [8, 4, 6], (1, 2, 3))
print(tup)

('mouse', [8, 4, 6], (1, 2, 3))

In [53]:
tup[2][2]

3

In [54]:
len(tup)

3

In [57]:
tup.index("mouse")

0

In [61]:
tuple(tup)

('mouse', [8, 4, 6], (1, 2, 3))

# Strings and its default methods

In [62]:
txt = "hello, and welcome to my world."

x = txt.capitalize()

In [63]:
x

'Hello, and welcome to my world.'

In [64]:
txt.islower()

True

In [65]:
txt.lower()

'hello, and welcome to my world.'

In [66]:
txt.upper()

'HELLO, AND WELCOME TO MY WORLD.'

In [70]:
txt

'hello, and welcome to my world.'

In [71]:
txt.replace("and","darshan")

'hello, darshan welcome to my world.'

In [72]:
d = "he is gud"

In [74]:
txt

'hello, and welcome to my world.'

In [77]:
"-".join(txt)

'h-e-l-l-o-,- -a-n-d- -w-e-l-c-o-m-e- -t-o- -m-y- -w-o-r-l-d-.'

In [78]:
txt.split("-")

['hello, and welcome to my world.']